doctype html 
html 
    head 
        meta(name='viewport' content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
        title Tôi đi mua sắm | #{test}
        link(rel="stylesheet" href="css/style.css")
        link(rel="shortcut icon" type="image/png" href="img/favicon.png" )
        <meta charset="UTF-8" />
    body
        //- HEADER
        include includes/_header.pug
        section.overviews 
            block content
        include includes/_footer.pug
                
   

                        
    


   
